@import '../../style/mixin/color.scss';
@include theme-color(--border-set, 10px solid #c9c9c9, 20px dashed #666666);

.child {
  width: 500px;
  height: 300px;
  background: var(--color);
  font-size: var(--font-size);
  color: var(--font-color);
  border: var(--border-set) ;
}